<div class="card">
  <p><i class="fas fa-pen-square"></i> Author: <%= comment.author.full_name %>
  <i class="far fa-clock"></i> Time ago: <%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds: false) %><br>
    <i class="far fa-comment"></i> Comment: <%= comment.body %></p>
  <% if updated(comment) %>
    <em> edited!</em>
  <% end  %>
  <p><% if current_user %>
    <span>
      <%= link_to like_post_comment_path(comment.post, comment),class: 'like btn btn-success btn-sm', method: :put do %>
        +<span id="upvote_comment_<%= comment.id%>" aria-hidden="true"><%= comment.get_upvotes.size %></span>
      <% end %>
      <%= (comment.get_upvotes.size)-(comment.get_downvotes.size) %>
      <%= link_to unlike_post_comment_path(comment.post, comment), class: 'unlike btn btn-danger btn-sm', method: :put do %>
        -<span id="downvote_comment_<%= comment.id%>" aria-hidden="true"><%= comment.get_downvotes.size %></span>
      <% end %>
    </span>
    <% if check_comment_rights(@current_user,comment) %>
        <span><%= link_to "Reply", new_post_comment_path(comment.post, :parent_id => comment.id), class:'btn btn-outline-warning btn-sm' %>
          <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class:'btn btn-sm btn-outline-success'%>
          <%= link_to 'Delete', [comment.post, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-outline-danger' %>
        </span>
      <% end %>
  <% end %>
</div>

