<div class="card">
<p><i class="fas fa-pen-square"></i> Author: <%= comment.author.full_name %></p>
<p><i class="far fa-comment"></i> Comment: <%= comment.body %></p>
<p><i class="far fa-clock"></i> Time ago: <%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds: false) %></p>
  <% if updated(comment) %>
    <em> edited!</em>
  <% end  %>
<p><% if current_user %>
    <div>
      <%= link_to like_post_comment_path(comment.post, comment),class: 'like btn btn-success btn-sm', method: :put do %>
        +<span id="upvote_comment_<%= comment.id%>" aria-hidden="true"><%= comment.get_upvotes.size %></span>
      <% end %>
      <%= (comment.get_upvotes.size)-(comment.get_downvotes.size) %>
      <%= link_to unlike_post_comment_path(comment.post, comment), class: 'unlike btn btn-danger btn-sm', method: :put do %>
        -<span id="downvote_comment_<%= comment.id%>" aria-hidden="true"><%= comment.get_downvotes.size %></span>
      <% end %>
    </div>
    <% if check_comment_rights(@current_user,comment) %></p>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class:'btn btn-sm btn-outline-success'%>
      <%= link_to 'Destroy Comment', [comment.post, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-outline-danger' %>
    <% end %>
  <% end %>
</div>


